{:source-paths ["src/main/project/cljs"]
 :deps true
 :http {:port 0}
 :builds {:app {:target :browser
                :output-dir "src/resources/public/js"
                :asset-path "/js"

                :modules {:main {:entries [project.cljs.index]}}

                :compiler-options {:external-config {:devtools/config {:features-to-install    [:formatters :hints]
                                                                       :fn-symbol              "F"
                                                                       :print-config-overrides true}}
                                   :pretty-print true
                                   :closure-defines {re-frame.trace/trace-enabled? true
                                                     day8.re-frame.tracing/trace-enabled? true}}
                :devtools   {:watch-dir    "src/resources/public"
                             :preloads    [day8.re-frame-10x.preload]
                             :after-load   project.cljs.index/reload!
                             :repl-init-ns project.cljs.index}
                }}}