{:dev?   true
 :server {:dev  {:io.pedestal.http/join?             false
                 :io.pedestal.http/port              3000
                 :io.pedestal.http/host              "0.0.0.0"
                 :io.pedestal.http/resource-path     "/public"
                 :io.pedestal.http/type              :jetty
                 ;; <- for dev only
                 :io.pedestal.http/secure-headers    {:content-security-policy-settings {:object-src "none"}}
                 :io.pedestal.http/container-options {:h2c? true
                                                      :h2?  false
                                                      :ssl? false}}
          :prod {:io.pedestal.http/join?             false
                 :io.pedestal.http/port              3000
                 :io.pedestal.http/host              "0.0.0.0"
                 :io.pedestal.http/resource-path     "/public"
                 :io.pedestal.http/type              :jetty

                 ;; todo add prod things here
                 :io.pedestal.http/secure-headers    {:content-security-policy-settings {:object-src "none"}}
                 :io.pedestal.http/container-options {:h2c? true
                                                      :h2?  false
                                                      :ssl? false}}}
 :xtdb   {:dev {:dir "data/dev"
                :port  9999}}
 }