@tailwind base;
@tailwind components;

/* PrismJS 1.28.0
https://prismjs.com/download.html#themes=prism-tomorrow&languages=markup+css+clike+javascript+clojure */
code[class*=language-],pre[class*=language-]{color:#ccc;background:0 0;font-family:Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace;font-size:1em;text-align:left;white-space:pre;word-spacing:normal;word-break:normal;word-wrap:normal;line-height:1.5;-moz-tab-size:4;-o-tab-size:4;tab-size:4;-webkit-hyphens:none;-moz-hyphens:none;-ms-hyphens:none;hyphens:none}pre[class*=language-]{padding:1em;margin:.5em 0;overflow:auto}:not(pre)>code[class*=language-],pre[class*=language-]{background:#2d2d2d}:not(pre)>code[class*=language-]{padding:.1em;border-radius:.3em;white-space:normal}.token.block-comment,.token.cdata,.token.comment,.token.doctype,.token.prolog{color:#999}.token.punctuation{color:#ccc}.token.attr-name,.token.deleted,.token.namespace,.token.tag{color:#e2777a}.token.function-name{color:#6196cc}.token.boolean,.token.function,.token.number{color:#f08d49}.token.class-name,.token.constant,.token.property,.token.symbol{color:#f8c555}.token.atrule,.token.builtin,.token.important,.token.keyword,.token.selector{color:#cc99cd}.token.attr-value,.token.char,.token.regex,.token.string,.token.variable{color:#7ec699}.token.entity,.token.operator,.token.url{color:#67cdcc}.token.bold,.token.important{font-weight:700}.token.italic{font-style:italic}.token.entity{cursor:help}.token.inserted{color:green}


.tooltip {
    @apply invisible absolute;
}

.has-tooltip:hover .tooltip {
    @apply visible z-50;
}

@tailwind utilities;

/* Range Slider */

/* range input styles */

input[type='range'] {
    -webkit-appearance: none;

    width: 100%;
    height: 13px;
    cursor: pointer;

    color: lightgray;
    background: transparent;
    margin: 0;
    padding: 0;
}

input[type=range]:active, input[type='range']:focus {
    outline: none;
}


input[type=range] {
    -webkit-appearance: none;

    cursor: pointer;
    width: 300px;
    height: 13px;
    margin: 0;
    padding: 0;
    color: lightgray;

    background: transparent;

}
input[type=range]:active, input[type=range]:focus {
    outline: none;
}


input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 13px;
    height: 13px;
    margin-top: -6px;
    border-radius: 50%;
    border: 0;
    background: #14618d;
    cursor: pointer;
}

input[type='range']::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    background: teal;
}

input[type='range']::-moz-range-thumb {
    -moz-appearance: none;
    width: 13px;
    height: 13px;
    margin-top: -6px;
    border-radius: 50%;
    border: 0;
    background: teal;
    cursor: pointer;
}

input[type='range']::-moz-range-progress {
    width: 100%;
    height: 2px;
    background: teal;
}
input[type='range']::-moz-range-track {
    width: 100%;
    height: 1px;
    background: teal;
}



input[type=range]::-webkit-slider-thumb {
    height: 28px;
    width: 28px;
    border-radius: 28px;
    background-color: #f00;
    position: relative;
    margin: 5px 0;
    cursor: pointer;
    appearance: none;
    pointer-events: all;
    box-shadow: 0 1px 4px 0.5px rgba(0,0,0,0.25);
}



input[type='range']::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    background: teal;
}

input[type='range']::-moz-range-thumb {
    -moz-appearance: none;
    width: 13px;
    height: 13px;
    margin-top: -6px;
    border-radius: 50%;
    border: 0;
    background: teal;
    cursor: pointer;
}

input[type='range']::-moz-range-progress {
    width: 100%;
    height: 2px;
    background: teal;
}
input[type='range']::-moz-range-track {
    width: 100%;
    height: 1px;
    background: teal;
}